@model StudentGradeCalculator.Models.Student

<form method="post">
    <input type="text" name="FullName" />
    <button type="submit">Add</button>
</form>
cd D:\xampp\htdocs\StudentGradeCalculator
dotnet run
